:root {
	--primary: #19A3B8;
	--secundary: #000000;
}
/* GLOBAL STYLES */
.card-color {
	background-color: var(--primary); 
}

body {
font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
 .header .navbar {
	 background-color: transparent !important;
 }

 main {
	 background-color: var(--secundary);
 }

/* HOVER H3 */
  h3 {
	color: #fff; 
	cursor: default;
  }

  .fas{
	background-color: var(--primary);
 }

 /* CARD */
@media only screen and (max-width: 600px) {
	.card {
		width: 80% !important;
	}
	.carrousel-item>img	{
height: 50px;
}
}

.tooltip .tooltip-inner {
	background: black;
	color: lime;
	border: 2px solid lime;
  }
  .tooltip .arrow {
	width: 11px!important;
	height: 11px!important;
	border: 2px solid lime;
	bottom: 1px;
  }
  .tooltip .arrow:before {
	width: 11px;
	height: 11px;
	background: black;
	border: 0;
  }
  .tooltip.bs-tooltip-top .arrow {
	transform: rotate(-135deg);
  }
  .tooltip.bs-tooltip-bottom .arrow {
	transform: rotate(135deg);
	top: 2px;
  }
  .tooltip-arrow,
  .red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}
  