body {
font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
	.card {
		width: 80% !important;
	}
	.carrousel-item>img	{
height: 50px;
}
}

 .header .navbar {
	 background-color: transparent !important;
 }

 main {
	 background-color: black;
 }


  h3 {
	color: #fff; 
	cursor: default;
  }
  