:root {
	--primary: #19A3B8;
	--secundary: #000000;
}
/* GLOBAL STYLES */
.card-color {
	background-color: var(--primary); 
}

body {
font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
#menuFijo {
	background-color: transparent;
	transition: background-color 0.5s ease;
  }
  
  .menu-color-fijo-scroll {
	  background-color: rgba(0,0,0,0.9)!important;
	transition: background-color 1s ease;
  }

 main {
	 background-color: var(--secundary);
 }

/* HOVER H3 */
  h3 {
	color: #fff; 
	cursor: default;
  }

  .fas{
	background-color: var(--primary);
 }
 

 /* CARD */
@media only screen and (max-width: 600px) {
	.card {
		width: 80% !important;
	}
	.carrousel-item>img	{
height: 50px;
}
}

